<head>
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" href="css/animate.css">
<script src="js/wow.min.js"></script>
<script>
  new WOW().init();
</script>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top ">
   <a class="navbar-brand" href="/">
      <img src="/images/1.png" width="45" height="50">
    </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
<div class="collapse navbar-collapse " id="navbarSupportedContent">
     <ul class="navbar-nav mr-4">
       <li class="nav-item">
         <a class="nav-link " data-value="services" href="#services">Послуги</a>
       </li>
    
      <li class="nav-item">
         <a class="nav-link " data-value="equipment" href="#equipment">Обладнання</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " data-value="about" href="#about">Про нас</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " data-value="contact" href="#contact">Контакти</a>
       </li>
     </ul>
     
   </div>
</nav>
      <div class="bd-example">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      
        <div class="carousel-inner">
          
          <div class="carousel-item active">
            <img src="/images/1sb.png" class="active d-block w-100" alt="...">
            <div class="overlay">
            <div class="carousel-caption d-none d-md-block">
              <div class="h23">Наш пріоритет - Ваша безпека!</div>
              <div class="h24">Наше Агенство створене для забезпечення однієї <br>з базових потреб людини - почуття безпеки.</br> Ми об'єднуємо накопичений досвід, професіоналізм <br> і новітні технології, щоб надати нашим клієнтам </br>відчуття спокою і впевненості...</div>
              <div class="button"><button class="btn btn-outline-secondary">Читати далі</button></div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/2sb.png" class="d-block w-100" alt="...">
            <div class="overlay">
            <div class="carousel-caption d-none d-md-block">
              <div class="h23">Ваш надійний та професійний партнер!</div>
              <div class="h24">Досвідчений оперативний персонал та штатні охоронці  цілодобово <br> виконують свої службові обов’язки за будь-яких </br>непередбачуваних обставин і складних ситуацій. <br>Виважена та вимоглива кадрова політика Агенції не залишає місця</br> непрофесійним робітникам.</div>
              <div class="button"><button class="btn btn-outline-secondary">Читати далі</button></div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/images/3sb.png" class="d-block w-100" alt="...">
            <div class="overlay">
            <div class="carousel-caption d-none d-md-block">
              <div class="h23">Безкоштовний комплект сигналізації!</div>
              <div class="h24">Зростання напруги в суспільстві веде за собою збільшення рівня злочинності. <br>У зловмисників нема ні відпусток, ні карантину! </br>Зважаючи на всі обставини СБМ йде на зустріч підприємцям <br>та пропонує встановлення безкоштовного комплекту </br>сигналізацій від Ajax Systems.</div>
              <div class="button"><button class="btn btn-outline-secondary">Читати далі</button></div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <div class="benefits">
        <h1 class="text-center wow fadeIn">Чому варто обрати СБМ?</h1>
          <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp">
                <img align="center" src="images/11sbm.png" class="img-fluid">
                <div class="h25">Професіоналізм</div>
                <div class="h28">Висококваліфіковані фахівці</div>
                <div class="h30">Якісна підготовка кадрів</div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp">
                <img align="center" src="images/33sbm.png" class="img-fluid">
                <div class="h26">Законність</div>
                <div class="h29">Наявність ліцензій та дозволів</div>
                <div class="h31">Дотримання закону</div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp">
                <img align="center" src="images/22sbm.png" class="img-fluid">
                <div class="h27">Оперативність</div>
                <div class="h29">Швидкісне реагування на виклик</div>
                <div class="h32">Обладнання за короткий термін</div>
              </div>

          </div>
      </div>
      </div>

  

<div class="services" id="services">
 <div class="container">
 <h1 class="text-center wow fadeIn">Послуги</h1>
  <div class="row">
   <div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card wow fadeInUp">
     <div class="card-img">
      <img align="center" src="images/7.jpg" class="img-fluid">
     </div>
     
     <div class="card-body">
     <h4 class="card-title">Охорона підприємств</h4>
      <p class="card-text">
       
       Значний досвід в організації охорони малих та великих підприємств.
      </p>
     </div>
     <div class="card-footer">
      <a href="" class="card-link">Читати далі</a>
     </div>
    </div>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card wow fadeInUp">
     <div class="card-img">
      <img align="center" src="images/7.png" class="img-fluid">
     </div>
     
     <div class="card-body">
        <h4 class="card-title">Охорона власності</h4>
      <p class="card-text">
       
       Охорона квартир, будинків, котеджів, автомобілів та іншого транспорту.
      </p>
     </div>
     <div class="card-footer">
      <a href="" class="card-link">Читати далі</a>
     </div>
    </div>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card wow fadeInUp">
     <div class="card-img">
      <img align="center" src="images/9.png" class="img-fluid">
     </div>
     
     <div class="card-body">
     <h4 class="card-title">Особиста безпека</h4>
      <p class="card-text">
       Необхідність для багатьох громадян та їх сімей, які потребують захист.
      </p>
     </div>
     <div class="card-footer">
      <a href="" class="card-link">Читати далі</a>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

<div class="equipment" id="equipment">
        <h1 class="text-center wow fadeIn">Технічне обладнання</h1>

          <div class="container">
          <div class="row">
          
              <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp">
                <img align="center" src="images/55.png" class="img-fluid">
                <div class="h35">Ajax Systems</div>
                <div class="h39">Виробляє професійні системи безпеки та smart home пристрої для дому та офісу з 2011 року</div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp">
                <img align="center" src="images/66.png" class="img-fluid">
                <div class="h36">Інтеграл</div>
                <div class="h39">Широкий спектр серійного обладнання «Інтеграл» з різними тактико-технічними характеристиками</div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInUp">
                <img align="center" src="images/77.png" class="img-fluid">
                <div class="h37">Охорона і безпека</div>
                <div class="h39">Пульти централізованого спостереження, контроль групи швидкого реагування</div>

               
              </div>

          </div>
      </div>
      </div>
      
    <div class="about" id="about">
        <h1 class="text-center wow fadeIn">Про нас</h1>
          <div class="container wow fadeInUp">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                <h2 class="text-align">Дата створення?</h2>
                 <h3 class="text-left">03.02.2015 (5 років 4 місяці з вами)</h3>
                  <h2 class="text-left">Вид діяльності?</h2>
                 <h3 class="text-left">- Приватна охоронна служба</h3>
                 <h3 class="text-left">- Встановленням систем охоронної сигналізації та відеоспостереження</h3>
                 <h3 class="text-left">- Юридичні послуги клієнтам</h3>
                 <h2 class="text-left">Наші партнери?</h2>
                 <h3 class="text-left">Groclin Group, Yazaki Україна, Магазини "Зіна 0-24", Охорона і безпека, Інтеграл, Ajax Systems, Ужгородська Федерація Боксу та Федерація Бойового Самбо</h3>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <img align="center" src="images/1.png" class="img-fluid">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
               <h4 class="text-left">За весь час сформовано:</h4>
                 <h5 class="text-left">- Цілодобова чергова частина</h5>
                 <h5 class="text-left">- Охоронний логістичний центр</h5>
                 <h5 class="text-left">- Центр потужної радіомережі</h5>
                 <h5 class="text-left">- Групи швидкого реагування</h5>
                 <h5 class="text-left">- Сучасна технічна база із сертифікованим обладнанням</h5>
               <h4 class="text-left">Середня швидкість прибуття:</h4>
               <h5 class="text-left">Менше 5 хвилин</h5>
               <h4 class="text-left">Кількість об'єктів під охороною:</h4>
               <h5 class="text-left">Більше 500 об'єктів</h5>
              </div>

          </div>
      </div>
      </div>




<div class="contact-form">
 <h1 class="text-center wow fadeIn">Тримайте зв'язок з нами!</h1>
 <div class="container">
  <form>
   <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInLeft">
 <h5 class="text-left">Залиште нам свій коментар щодо роботи Агенства безпеки СБМ!</h5>
 <h5 class="text-left">Вислухаємо і візьмемо до уваги ваші пропозиції та побажання.</h5>
</div>

    <div class="col-lg-8 col-md-8 col-sm-12 wow fadeInRight">
       <div class="form-group">
         <input type="text" class="form-control form-control-lg" placeholder="Ваше ім'я" name="">
       </div>
       <div class="form-group">
         <input type="email" class="form-control form-control-lg" placeholder="Ваша пошта" name="email">
       </div>
       <div class="form-group">
         <textarea class="form-control form-control-lg">
          
         </textarea>
       </div>
       <input type="submit" class="btn btn-secondary btn-block" value="Надіслати" name="">
    </div>
   </div>
  </form>
 </div>
</div>

<div class="contact" id="contact">
        <h1 class="text-center wow fadeIn">Контакти</h1>

          <div class="container">
          <div class="row">
          
              <div class="col-lg-5 col-md-5 col-sm-12 wow fadeInLeft">
              <div class="h77">Ми на карті</div>
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2637.669901447964!2d22.292714851644536!3d48.61616157916266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473919aefa37946d%3A0x9b99334c54d3cf5a!2z0YPQuy4g0KjQstCw0LHRgdC60LDRjywgMzcsINCj0LbQs9C-0YDQvtC0LCDQl9Cw0LrQsNGA0L_QsNGC0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDg4MDAw!5e0!3m2!1sru!2sua!4v1593208561997!5m2!1sru!2sua" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12 wow fadeInRight">
                
                <h4 class="text-left">Замовлення охоронних послуг та технічного обладнання</h4>
                 <h5 class="text-left">+380502931512</h5>
                <h4 class="text-left">Відділ кадрів: вакансії та працевлаштування</h4>
                <h5 class="text-left">+380996606191</h5>
                <h5 class="text-left">+380312672424</h5>
                <h4 class="text-left">Технічний відділ:</h4>
                <h5 class="text-left">+380502931512</h5>
                <h4 class="text-left">sbm.ohorona@gmail.com</h4>
                <h4 class="text-left">м. Ужгород, вул. Швабська, 37</h4>
                
              </div>
              
          </div>
      </div>
      </div>
      <script type="text/javascript" src='sbm/app/assets/javascripts/main.js'></script>
</body>